.whisper-analysis-wrapper {
  margin: 2em;
  margin-bottom: 4em;
}

.right-spacing {
  margin-right: 2em;
}

.right-small-spacing {
  margin-right: 0.5em;
}

.centered-icon {
  height: 1.8em;
  margin-top: auto;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.date-field {
  width: 10em;
}

.time-field {
  width: 6em;
}

.whisper-analysis-progress {
  margin-top: -2em;
  width: 100vw;
  margin-left: -2em;
  margin-bottom: 1em;
}

.hidden {
  visibility: hidden;
}
