table {
  width: 100%;
}

.whisper-db-analysedtweets-wrapper {
  margin: 2em;
  margin-bottom: 5.5em;
}

.whisper-db-analysedtweets-col-id-val {
  text-align: center;
}

.whisper-db-analysedtweets-col-id-val {
  color: darkblue;
}

.invisible {
  display: none;
}

.whisper-db-remove-selected-btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
}
